<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.codepunk.codepunkshell">

  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
  <uses-permission
      android:name="android.permission.GET_ACCOUNTS"
      android:maxSdkVersion="22"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

  <application
      android:name=".CodepunkApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher_codepunk"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:replace="android:icon">

    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".AuthenticatorActivity"
        android:exported="true">
    </activity>

    <service
        android:name=".AuthenticatorService"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="android.accounts.AccountAuthenticator"/>
      </intent-filter>

      <meta-data
          android:name="android.accounts.AccountAuthenticator"
          android:resource="@xml/authenticator"/>
    </service>

  </application>

</manifest>